<!-- <div class="text-color">
  <h1>{{ name | titlecase }}</h1>
  <h1>{{ currency | number }}</h1>
  <h1>{{ person | json }}</h1>
</div>

<p-card [header]="name | titlecase" subheader="Subtitle">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
    consequuntur error repudiandae numquam deserunt quisquam repellat libero
    asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
    neque quas!
  </p>
</p-card>

<button
  pButton
  (click)="printName()"
  type="button"
  label="Change name"
  class="p-button-help"
  icon="pi pi-users"
  iconPos="right"
></button> -->

<app-menu></app-menu>
<router-outlet></router-outlet>
